/* General Styles */
body {
  width: 80%;
  margin-left: 220px;
  padding: 20px;
  background: #f4f4f9;
}

.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 30px;
}

.dashboard-header h1 {
  font-size: 2.5rem;
  color: #167861;
}

.dashboard-header p {
  font-size: 1.2rem;
  color: #555;
}

/* Widgets Section */
.dashboard-widgets {
  display: flex;
  gap: 20px;
}

.dashboard-widget {
  flex: 1;
  padding: 15px;
  text-align: center;
  background: #fdfbfb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-widget:hover {
  transform: translateY(-5px);
}

.dashboard-widget.active {
  border: 2px solid #167861;
}

/* Chart Section */
.dashboard-chart {
  margin-top: 30px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* News Section */
.dashboard-news {
  margin-top: 40px;
  background: #16786134;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-news h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.news-cards {
  display: flex;
  gap: 20px;
}

.news-card {
  flex: 1;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.news-card:hover {
  transform: scale(1.05);
}

.news-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.news-card p {
  color: #555;
  font-size: 1rem;
}
/* Chart and Details Section */
.dashboard-chart-section {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.dashboard-chart {
  flex: 2;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-details {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart-details h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.chart-details p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.chart-details strong {
  font-size: 1.2rem;
  color: #167861;
}

