.page.doctors {
  padding: 20px;
  background-color: #ffffff00;
  color: #333;
}
h1 {
  color: #167861;
  text-align: center;
  margin-bottom: 20px;
}

.doctor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.doctor-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.doctor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.doctor-status.active {
  color: #167861;
  font-weight: bold;
}

.doctor-status.inactive {
  color: #d9534f;
}

.doctor-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.doctor-icon {
  font-size: 24px;
  color: #167861;
}
.doctor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-height: 70vh; /* Adjust as needed */
  overflow-y: auto;
  padding-right: 10px; /* For better scroll bar adjustment */
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
  animation: slideDown 0.4s ease;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #d9534f;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
